# IDE
.idea
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Environment variables & Secrets
.env
.env.local
.secrets
**/.secrets

# Testing
.pytest_cache/
.coverage
htmlcov/
*.db
test.db
file:memdb*

# OS
.DS_Store
Thumbs.db
